html,body{
  background: #001222;
  font-family: 'Roboto', sans-serif;
  height:1024px;
}

#app{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
}

.formContainer{
  width: 400px;
  height: 453px;
  background: #FFFFFF;
  border-radius: 32px;
  display: block;
  text-align: center;
}

form{
  margin-top: 30px;
}

.input{
  width: 332px;
  height: 51px;
  background: #F2F2F2;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-left: 10px;
}

li{
  list-style-type: none;
  text-align:left;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.userInput{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}